@model MVC_Entity_Framework.Models.Articulo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actvo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actvo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaPrincipal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaPrincipal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriasSecundaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriasSecundaria)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Encabezado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Encabezado)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referencias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referencias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PalabrasClave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PalabrasClave)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
