@model IEnumerable<MVC_Entity_Framework.ViewModels.ArticuloViewModel>
@{
    ViewData["Title"] = "Index";
}

@if (Model != null)
{
    @foreach (var item in Model)
    {
        @if (item.Articulo.Actvo)
        {
            <div class="card mt-3 border-dark">
                <div class="card-header">
                    Titulo: @Html.DisplayFor(modelItem => item.Articulo.Encabezado.Titulo)
                </div>
                <div class="card-body">
                    <section>Descripcion: @Html.DisplayFor(modelItem => item.Articulo.Encabezado.Descripcion)</section>
                    <section>

                        @if (item.Articulo.Cuerpo != null)
                        {

                            @if (item.Articulo.Cuerpo.Entradas != null)
                            {
                                <span>Entradas</span>
                                <ul>
                                    @foreach (var entrada in item.Articulo.Cuerpo.Entradas)
                                    {
                                        <li>
                                            @Html.DisplayFor(modelItem => entrada.Titulo)
                                        </li>


                                    }

                                </ul>

                            }
                        }

                    </section>
                    <a asp-action="Edit" asp-route-id="@item.Articulo.Id">Editar</a>
                </div>

                <div class="card-footer">Autor: @Html.DisplayFor(modelItem => item.Articulo.Autor.Nombre)</div>
                <div>@Html.DisplayFor(modelItem => item.Articulo.Fecha)</div>
            </div>
        }
        }

    }





