@model IEnumerable<MVC_Entity_Framework.Models.Articulo>

@{
    ViewData["Title"] = "Misarticulos";
}

<h1>Mis articulos</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actvo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaPrincipal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PalabrasClave)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actvo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaPrincipal.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PalabrasClave)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
